# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
absl-py=0.9.0=pypi_0
aix360=0.2.0=pypi_0
appnope=0.1.0=pypi_0
argon2-cffi=20.1.0=pypi_0
asgiref=3.2.10=pypi_0
astor=0.8.1=pypi_0
astunparse=1.6.3=pypi_0
attrs=19.3.0=pypi_0
backcall=0.2.0=pypi_0
bleach=3.1.5=pypi_0
ca-certificates=2020.6.24=0
cachetools=4.1.1=pypi_0
certifi=2020.6.20=py36_0
cffi=1.14.1=pypi_0
chardet=3.0.4=pypi_0
cloudpickle=1.5.0=pypi_0
cvxopt=1.2.5=pypi_0
cvxpy=1.1.3=pypi_0
cycler=0.10.0=pypi_0
decorator=4.4.2=pypi_0
defusedxml=0.6.0=pypi_0
django=3.1=pypi_0
docutils=0.16=pypi_0
ecos=2.0.7.post1=pypi_0
entrypoints=0.3=pypi_0
future=0.18.2=pypi_0
gast=0.3.3=pypi_0
google-auth=1.20.1=pypi_0
google-auth-oauthlib=0.4.1=pypi_0
google-pasta=0.2.0=pypi_0
greenery=3.2=pypi_0
grpcio=1.31.0=pypi_0
h5py=2.10.0=pypi_0
hyperopt=0.2.3=pypi_0
idna=2.10=pypi_0
image=1.5.32=pypi_0
imageio=2.9.0=pypi_0
importlib-metadata=1.7.0=pypi_0
ipykernel=5.3.4=pypi_0
ipython=7.16.1=pypi_0
ipython-genutils=0.2.0=pypi_0
ipywidgets=7.5.1=pypi_0
jedi=0.17.2=pypi_0
jinja2=2.11.2=pypi_0
joblib=0.16.0=pypi_0
jsonschema=3.2.0=pypi_0
jsonsubschema=0.0.1=pypi_0
jupyter=1.0.0=pypi_0
jupyter-client=6.1.6=pypi_0
jupyter-console=6.1.0=pypi_0
jupyter-core=4.6.3=pypi_0
keras=2.4.3=pypi_0
keras-applications=1.0.8=pypi_0
keras-preprocessing=1.1.2=pypi_0
kiwisolver=1.2.0=pypi_0
lale=0.3.20=pypi_0
libcxx=10.0.0=1
libedit=3.1.20191231=h1de35cc_1
libffi=3.3=hb1e8313_2
lightgbm=2.3.1=pypi_0
lime=0.2.0.1=pypi_0
markdown=3.2.2=pypi_0
markupsafe=1.1.1=pypi_0
matplotlib=3.3.0=pypi_0
mistune=0.8.4=pypi_0
nbconvert=5.6.1=pypi_0
nbformat=5.0.7=pypi_0
ncurses=6.2=h0a44026_1
networkx=2.2=pypi_0
notebook=6.1.3=pypi_0
numpy=1.19.1=pypi_0
oauthlib=3.1.0=pypi_0
openssl=1.1.1g=h1de35cc_0
opt-einsum=3.3.0=pypi_0
osqp=0.6.1=pypi_0
packaging=20.4=pypi_0
pandas=0.25.3=pypi_0
pandocfilters=1.4.2=pypi_0
parso=0.7.1=pypi_0
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=7.2.0=pypi_0
pip=20.2.2=py36_0
prometheus-client=0.8.0=pypi_0
prompt-toolkit=3.0.6=pypi_0
protobuf=3.12.4=pypi_0
ptyprocess=0.6.0=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pycparser=2.20=pypi_0
pygments=2.6.1=pypi_0
pyparsing=2.4.7=pypi_0
pyrsistent=0.16.0=pypi_0
python=3.6.10=hf48f09d_2
python-dateutil=2.8.1=pypi_0
python-graphviz=0.14.1=pypi_0
python-intervals=1.10.0.post1=pypi_0
pytz=2020.1=pypi_0
pywavelets=1.1.1=pypi_0
pyyaml=5.3.1=pypi_0
pyzmq=19.0.2=pypi_0
qtconsole=4.7.5=pypi_0
qtpy=1.9.0=pypi_0
readline=8.0=h1de35cc_0
requests=2.24.0=pypi_0
requests-oauthlib=1.3.0=pypi_0
rsa=4.6=pypi_0
scikit-image=0.17.2=pypi_0
scikit-learn=0.23.2=pypi_0
scipy=1.4.1=pypi_0
scs=2.1.2=pypi_0
send2trash=1.5.0=pypi_0
setuptools=49.2.0=py36_0
shap=0.35.0=pypi_0
six=1.15.0=pypi_0
sqlite=3.32.3=hffcf06c_0
sqlparse=0.3.1=pypi_0
tensorboard=2.2.2=pypi_0
tensorboard-plugin-wit=1.7.0=pypi_0
tensorflow=2.2.0=pypi_0
tensorflow-estimator=2.2.0=pypi_0
termcolor=1.1.0=pypi_0
terminado=0.8.3=pypi_0
testpath=0.4.4=pypi_0
threadpoolctl=2.1.0=pypi_0
tifffile=2020.7.24=pypi_0
tk=8.6.10=hb0a8c7a_0
torch=1.6.0=pypi_0
torchvision=0.7.0=pypi_0
tornado=6.0.4=pypi_0
tqdm=4.48.2=pypi_0
traitlets=4.3.3=pypi_0
urllib3=1.25.10=pypi_0
wcwidth=0.2.5=pypi_0
webencodings=0.5.1=pypi_0
werkzeug=1.0.1=pypi_0
wheel=0.34.2=py36_0
widgetsnbextension=3.5.1=pypi_0
wrapt=1.12.1=pypi_0
xgboost=1.1.1=pypi_0
xport=2.0.2=pypi_0
xz=5.2.5=h1de35cc_0
zipp=3.1.0=pypi_0
zlib=1.2.11=h1de35cc_3
